<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
  </head>
  <body>
    <form method="post" action="sucess/">
      {% csrf_token %}
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="price">Price:</label><br />
      <input type="number" id="price" name="price" /><br />
      <label for="description">Description:</label><br />
      <textarea id="description" name="description"></textarea><br />
      <input type="file" name="file" id="file" /><br /><br />
      <input type="submit" value="Submit" name="submit" />
    </form>
    <div>
      <h2>{{ products }}</h2>
    </div>
  </body>
</html>
